@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
:root {
    --bg-color: white;
    --text-color: black;
}

html.light {
    --bg-color: white;
    --text-color: black;
}

html.dark {
    --bg-color: #1a202c;
    --text-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Ensure proper layout on small screens */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header button {
        width: 100%;
        margin-top: 16px;
    }
}